.item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  &__author {
    color: #b6c2cf;
    margin-bottom: 2px;
    margin-left: 5px;
  }
  &__text {
    width: 95%;
    height: 100%;
    border-radius: 8px;
    padding: 10px;
    background-color: #38414a;
    color: #b6c2cf;
    font-size: 14px;
    line-height: 20px;
  }
  &__btn {
    background-color: inherit;
    color: #b6c2cf99;
    outline: none;
    border: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    line-height: 15px;
    font-size: 12px;
    cursor: pointer;
  }
}
